@import "https://fonts.googleapis.com/css?family=Roboto:300";
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  -webkit-text-size-adjust: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p,
a {
  font-size: medium;
}
h1,
h2,
h3 {
  font-size: x-large;
}

/* HEAD */
.drawer-navbar {
  box-sizing: content-box;
}
.drawer-brand img {
  vertical-align: bottom;
  height: 60px;
  width: 200px;
}
.drawer-navbar .drawer-nav {
  float: right;
}

/* MAIN */
main {
  width: 980px;
  margin: 0 auto;
}
#background {
  margin-top: 8px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.photo {
  height: max-content;
}
.photo a {
  display: block;
  position: relative;
  text-align: center;
}
.photo a img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
  display: inline-block;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.photo a:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.photo:nth-child(3) {
  grid-row: 1 / span 2;
  grid-column: 3;
}
.photo:nth-child(5) {
  grid-row: 2 / span 2;
  grid-column: 2;
}
.photo:nth-child(7) {
  grid-row: 3 / span 2;
  grid-column: 1;
}
.photo a h1 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 35px;
  margin: auto;
  color: #fff;
}
.fa-picture-o {
  margin-right: 5px;
}

/* FOOTER*/
footer {
  width: 980px;
  margin: 0 auto;
}
#under-nav ul {
  padding: 0;
  display: flex;
  justify-content: center;
}
#under-nav li {
  text-align: center;
}
footer #under-nav a {
  position: relative;
  display: block;
  color: #333;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  transition: all 0.5s;
  width: 150px;
  height: 50px;
  line-height: 50px;
  margin: 0 10px;
}
footer #under-nav a::before,
footer #under-nav a::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
footer #under-nav a::before {
  top: 0;
  left: 0;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
}
footer #under-nav a::after {
  right: 0;
  bottom: 0;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
}
footer #under-nav .twitter a:hover {
  background-color: #1da1f2;
  color: #fff;
  transition: all 0.7s;
}
footer #under-nav .facebook a:hover {
  background-color: #3b5998;
  color: #fff;
  transition: all 0.7s;
}
footer #under-nav .google a:hover {
  background-color: #db4437;
  color: #fff;
  transition: all 0.7s;
}
footer #under-nav a:hover::before,
footer #under-nav a:hover::after {
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 0.7s;
}

@media screen and (max-width: 800px) {
  main {
    width: 90%;
  }
  #background {
    display: block;
  }
  .section-1,
  .section-3 {
    flex-direction: column;
  }
  .section-2,
  .section-4 {
    flex-direction: column-reverse;
  }
  .photo {
    width: 100%;
    margin: 16px 0;
  }

  footer {
    width: 80%;
  }
  footer #under-nav a {
    margin: 2px auto;
  }
  #under-nav ul {
    flex-direction: column;
  }
}
